*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav{
height: 70px;
width: 100px;
padding: 0 1rem;
display: flex;
justify-content: space-between;
}
nav.nav-left{
  display: flex;
  align-items: center;
}